/*********RESET**********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}

/*********FIN-RESET******/


/*******BASICO***********/

button:hover{
	cursor:pointer;
}
h1{
	font-size:2.5em;
}
body{
	  background: linear-gradient(to right, rgb(232, 232, 232) 0%, rgba(219,219,219,1) 34%, rgba(254,254,254,1) 100%);
}


/******FIN BASICO********/


/******TABLA*****/
#panel{
	margin:auto;
	width:205px;
	padding-top: 20px;
}
#vista{
	margin-top: 20px;
    margin-left: 2px;
    background-color: #fdfdfd;
    box-shadow: 2px 2px 30px;
    margin-right: 2px;
    }
#tabla_wrapper{
	padding:30px;	
}
.btn{
	height:50px;
	font-size:16px;
	font-weight:bold;
    width: 100px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #565656;
}
/*********FORMULARIO*********/
.formulario{
	width:50%;
	margin:auto;	
    margin-top: 15%;
    box-shadow: 2px 2px 20px;
    border-radius: 4px;
    padding: 10px;
}
.form-control{
	margin:5px;
	font-weight: 600;
}
#enviar{
	margin-left: 5px;
}
.titulo{
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
/*********RESPONSIVE*********/
@media(max-width:560px){
	.formulario{
		width:95%;
	}
}